mat-toolbar {
  color: #E60012;

  button {
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
    border: white;
    margin-left: auto;
  }
}

.full-width-table {
  width: 100%;

  img {
    height: 100px;
    width: 150px;
    border-radius: 1rem;
  }
}