<header class="main-header">
        <div class="logo"><a class="Nintendo-logo" href="#">Nintendo</a>
                
        </div>
        <div class="Search-bar">
                <input type="text" class="nav-search" name="SearchBox" id="searchphrase"
                        placeholder="Search for games, product,...">
                <button class="search-btn">Search</button>
        </div>
        <Nav class="main-nav">
                <Ul class="main-nav-items">
                        <Li class="main-nav-item">
                                <A class="nav-log-in" href="#">Log In</A>
                        </Li>
                        <Li class="main-nav-item">
                                <A class="nav-product" href="#">Product</A>
                        </Li>
                        <Li class="main-nav-item">
                                <A class="nav-cart" href="#">Cart</A>
                        </Li>

                </Ul>
        </Nav>
</header>