.hero {
    background-image: linear-gradient(to bottom, #E60012, #E60012);
    padding: 2px auto 0;
    margin: auto;
    border: none;
    border-radius: 10px;
  }
  
  .hero h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .hero p {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
  }