.footer {
    display: flex;
    justify-content: center;
    
    .row {
        display: flex;
    }

    .col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-menus-legal {
        display: inline-block;
        text-align: center;
        padding: 16px;
        margin: 8px;
    }

    .footer-menus-social {
        display: inline-block;
        text-align: center;
        padding: 16px;
        margin: 8px;
    }

    .footer-menus-payment {
        display: flex;
        justify-content: space-evenly;
        padding: 16px;
        margin: 8px;
    }

    .payment-method-icon {
        height: 4rem;
        width: 6rem;
    }
}