<div class="footer">
    <div class="footer-menus">
        <div class="footer-menus-legal">
            <ul>
                <li>
                    <span>&#64; 2024 Nintendo</span>
                </li>
                <li>
                    <span>Terms & Conditions</span>
                </li>
                <li>
                    <span>Privacy & Cookies</span>
                </li>
                <li>
                    <span>Company Information</span>
                </li>
                <li>
                    <span>Morden Slavery Transparency Statment</span>
                </li>
                <li>
                    <span>Tax Strategy</span>
                </li>
            </ul>
        </div>

        <div class="footer-menus-payment">
            <div class="payment-method">
                <p>Pay securely with</p>
                <ul>
                    <li>
                        <img class="payment-method-icon" src="././assets/img/visa.jpg" alt="Visa">
                    </li>
                    <li>
                        <img class="payment-method-icon" src="././assets/img/mastercard.jpg" alt="Master Card">
                    </li>
                    <li>
                        <img class="payment-method-icon" src="././assets/img/applepay.jpg" alt="Apple Pay">
                    </li>
                    <li>
                        <img class="payment-method-icon" src="././assets/img/paypal.jpg" alt="PayPal">
                    </li>
                    <li>
                        <img class="payment-method-icon" src="././assets/img/googlepay.jpg" alt="Google Pay">
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-menus-social">
            <ul>
                <li>
                    <a href="#" target="_blank" class="social-menu-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="social-menu-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="social-menu-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="social-menu-icon"></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="social-menu-icon "></a>
                </li>
            </ul>
        </div>
    </div>
</div>