
<!-- Featured games section -->
      <ul>
        <div *ngFor="let game of featuredGames">
          <li>
            <div class="game-card">
              <img src="assets/img/{{ game.image }}" alt="{{ game.name }}">
              <h3>{{ game.name }}</h3><br>
              <p>{{ game.description }}</p>
              <div class="btn">
                <button class="btnBuyNow">Buy Now</button>
                <button class="btnAddToCart">Add to cart</button>
              </div>
            </div>
          </li>
        </div>
      </ul>