<!-- <div class="edit-game">
  <h1>Edit Game</h1>
  <p class="message-p">{{Message}}</p>
  <form #editProduct="ngForm" (ngSubmit)="submit(editProduct.value)" class="common-form">
    <input type="text" class="form-input" placeholder="Enter Id" name="id" ngModel="{{gameData?.id}}">
    <input type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel="{{gameData?.name}}" />
    <input type="text" class="form-input" placeholder="Enter Image URL" name="image" ngModel="{{gameData?.image}}" />
    <textarea type="text" class="form-input" placeholder="Enter Description" name="description"
      ngModel="{{gameData?.description}}"></textarea>

    <input type="text" class="form-input" placeholder="Enter Price" name="price" ngModel="{{gameData?.price}}" />
    <button class="form-button">Update Product</button>

  </form>
</div> -->