.featured-games {
    padding: 50px 0;
  }
  
  .game-card {
    flex-direction: unset;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 ;
    width: 10rem;
}
img {
  width: 10rem;
  height: 5rem;
}