body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.add-product {
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.add-product h1 {
    color: #e60012;
    font-size: 24px;
    margin-bottom: 20px;
}

.message-p {
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
}

.common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.form-button {
    background-color: #e60012;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.form-button:hover {
    background-color: #ff0000;
}
