<div class="footer-menu">
    <div class="row">
        <div class="col">
            <h2 class="footer-heading-product">Product</h2>
            <ul>
                <li>
                    <a href="#">Nintendo Switch Consoles</a>
                </li>
                <li>
                    <a href="#">Nintendo Switch Games</a>
                </li>
                <li>
                    <a href="#">Latest Releases</a>
                </li>
            </ul>
            <p></p>
        </div>
        <div class="col">
            <h2 class="footer-heading-franchises">Franchises</h2>
            <ul>
                <li>
                    <a href="#">Super Mario</a>
                </li>
                <li>
                    <a href="#">Pokémon</a>
                </li>
                <li>
                    <a href="#">The Legened of Zelda</a>
                </li>
                <li>
                    <a href="#">Mario Kart</a>
                </li>
            </ul>
            <p></p>
        </div>
        <div class="col">
            <h2 class="footer-heading-about">About</h2>
            <ul>
                <li>
                    <a href="#">Nintendo Store</a>
                </li>
                <li>
                    <a href="#">Help & FAQ</a>
                </li>
                <li>
                    <a href="#">Student Discount</a>
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>