<div class="footer-menu">
    <div class="row">
        <div class="col">
            <h2 class="footer-heading-product">Product</h2>
            <ul>
                <li>
                    Nintendo Switch Consoles
                </li>
                <li>
                    Nintendo Switch Games
                </li>
                <li>
                    Latest Releases
                </li>
            </ul>
            <p></p>
        </div>
        <div class="col">
            <h2 class="footer-heading-franchises">Franchises</h2>
            <ul>
                <li>
                    Super Mario
                </li>
                <li>
                    Pokémon
                </li>
                <li>
                    The Legened of Zelda
                </li>
                <li>
                    Mario Kart
                </li>
            </ul>
            <p></p>
        </div>
        <div class="col">
            <h2 class="footer-heading-about">About</h2>
            <ul>
                <li>
                    Nintendo Store
                </li>
                <li>
                    Help & FAQ
                </li>
                <li>
                    Student Discount
                </li>
            </ul>
            <p></p>
        </div>
    </div>
</div>