<header class="main-header">
        <div class="logo"><a class="Nintendo-logo" routerLink="/fearture-game">Nintendo</a>

        </div>
        <form>
                <input type="text" class="nav-search" name="SearchBox" [(ngModel)]="query"
                        placeholder="Search for games, product,...">
                <button class="nav-search-btn" (click)="search()">Search</button>
        </form>
        <nav class="main-nav">
                <Ul class="main-nav-items">
                        <li class="main-nav-item">
                                <div>
                                        <a *ngIf="!isLoggedIn()" class="nav-log-in" routerLink="/login">Log In</a>
                                        <a class="nav-log-out" *ngIf="isLoggedIn()">Welcome, {{getUsername()}}!</a>
                                        <a class="nav-log-out" *ngIf="isLoggedIn()" type="submit" (click)="logout()">Logout</a>
                                </div>
                        </li>
                        <li class="main-nav-item">
                                <div *ngIf="isLoggedIn() && hasRole('Admin')">
                                        <a class="nav-dashboard" routerLink="/admin-dashboard">DashBoard</a>
                                </div>
                        </li>
                        <li class="main-nav-item">
                                <a class="nav-product" routerLink="/product-game">Product</a>
                        </li>
                </Ul>
        </nav>
</header>