<header class="main-header">
        <div class="logo"><a class="Nintendo-logo" href="/fearture-game">Nintendo</a>
                
        </div>
        <form>
                <input type="text" class="nav-search" name="SearchBox" id="searchphrase"
                        placeholder="Search for games, product,...">
                <button class="nav-search-btn" >Search</button>
        </form>
        <Nav class="main-nav">
                <Ul class="main-nav-items">
                        <Li class="main-nav-item">
                                <A class="nav-log-in" href="/login">Log In</A>
                        </Li>
                        <Li class="main-nav-item">
                                <A class="nav-product" href="#">Product</A>
                        </Li>
                        <Li class="main-nav-item">
                                <A class="nav-cart" href="#">Cart</A>
                        </Li>

                </Ul>
        </Nav>
</header>