.main-header {
  width: 100%;
  height: 80px;
  background-color: #E60012;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  .logo {
    display: flex;

    .Nintendo-logo {
      background-color: #E60012;
      color: white;
    }
  }

  .logo a:hover {
    color: white;
    font-weight: bolder;
  }

  .logo a:active {
    color: firebrick;
  }

  .nav-search {
    height: 2rem;
    width: 20rem; 
    border-radius: 2rem;
    border: white;
    margin: 5px;
    padding-left: 10px;
    margin-left: 7rem;
  }

  .nav-search-btn {
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
    border: white;
    margin-left: auto;

  }

  .nav-search-btn:hover {
    font-weight:  bold;
  }

  .main-nav {

    .main-nav-items {
      display: inline-block;
      margin: 0;
      padding: 0;

      .main-nav-item {
        display: inline-block;
        text-decoration: none;
        margin: auto;

        .nav-log-in {
          color: white;
        }

        .nav-log-out {
          color: white;
        }

        .nav-product {
          color: white;
        }

        .nav-cart {
          color: white;
        }
      }

      .main-nav-item a:hover {
        color: white;
        font-weight: bolder;
      }

      .main-nav-item a:active {
        color: firebrick;
      }

      .main-nav-item+.main-nav-item {
        margin-left: 10px;
      }
    }
  }
}

.main-header>div {
  display: inline-block;
}